public/data
public/data/*
components/servers/solr/modelsearch/solr/data
components/servers/solr/modelsearch/solr/data/*
components/servers/solr/tmp_agg.json
.idea
*.iml
public/stylesheets/style.css

node_modules/

/tools/numMatsHist.csv
