doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jquery-ui/css/redmond/jquery-ui-1.8.21.custom.css')
  body
    #page_contents
      block content
    script(src='/javascripts/jquery-ui/js/jquery-1.7.2.min.js')
    script(src='/javascripts/jquery-ui/js/jquery-ui-1.8.21.custom.min.js')
    block scripts