extends layout

block content
    include menubar
    h1= title
    h3 Scene List
    #scene_list
        -for (var i=0; i<scenes.length; i++)
            -var scene = scenes[i]
            form(method='get', action='/scenes/#{scene.scene_name}/edit')
                | #{scene.scene_name} 
                button edit
    button#new_scene New Scene

block scripts
  script(src='/javascripts/jquery-ui/js/jquery.validate.min.js')
  script(src='/javascripts/shared/Validator.js')
  script
    $(function() {

      $('button').button();
      $('#new_scene').click(function(){
        var dialog = $('<div id="new_scene_dialog">\
          <form method="post" action="/newScene" id="new_scene_form">\
            Scene Name: <input id="scene_name" type="text" name="scene_name" class="required alphanumPlus">\
          </form>\
        </div>');

        dialog.dialog({
          modal: true,
          title: "Create New Scene",
          buttons: [
            {text: "Cancel", click: function() {$(this).dialog("close")}},
            {text: "Submit", click: function() {
                var form = $('#new_scene_form');
                var validator = form.validate();
                if (validator.form()) form.submit();
            }},
          ],
        });
      });
    });