script(id="picking.frag", type="text/x-fragment").
    #ifdef GL_ES
    precision mediump float;
    #endif
    
    uniform vec4 u_idBytes;
    
    void main(void) {
        gl_FragData[0] = u_idBytes;
    }
